@import "variables.scss";
.hero-block{
  color: $blue;
  display: flex;
  flex-flow: column wrap;
  @media screen and (min-width: $md){
    padding: 50px;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  > * {
    align-self: center;
  }
  img{
    @media screen and (min-width: $md){
      order: 1;
    }
  }
  .site-description{
    font-size: 13px;
    text-align: center;
		font-size: 1.3rem;
    line-height: 1.4;
    padding: 2px;
    @media screen and (min-width: $md){
      text-align: left;
      flex-basis: 100%;
      order: 5;
    }
  }
  .social-icons{
    padding-top: 10px;
    @media screen and (min-width: $md){
      order: 3;
    }
  }
  form{
    @media screen and (min-width: $md){
      order: 2;
    }
    input{  
      font-size: 1.6rem;
    }
    button{
      font-size: 1.6rem;
      cursor: pointer;
    }
  }
}