@import "variables.scss";
.hero-block{
  color: $blue;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $md){
    padding: 50px;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  > * {
    align-self: center;
  }
  img{
    @media screen and (min-width: $md){
      order: 1;
    }
  }
  .site-title{
		font-size: 30px;
		font-size: 3rem;
    line-height: 1.4;
    text-shadow: 2px 2px #e6e6e6;
    font-weight: bold;
    @media screen and (min-width: $md){
      font-size: 40px;
      padding-top: 30px;
      font-size: 4rem;
      flex-basis: 100%;
      order: 4;
    }
    @media screen and (min-width: $lg){
      font-size: 50px;
      font-size: 5rem;
    }
  }
  .site-description{
    font-size: 13px;
    text-align: center;
		font-size: 1.3rem;
    line-height: 1.4;
    @media screen and (min-width: $md){
      text-align: left;
      flex-basis: 100%;
      order: 5;
    }
  }
  .social-icons{
    padding-top: 10px;
    @media screen and (min-width: $md){
      order: 3;
    }
  }
  form{
    @media screen and (min-width: $md){
      order: 2;
    }
    input{  
      font-size: 1.6rem;
    }
    button{
      font-size: 1.6rem;
      cursor: pointer;
    }
  }
}