@import "variables.scss";
.social-icons{
  padding: 0;
  font-size: 3rem;
  .social-profile {
    list-style: none;
    li{
      margin-right: 15px;
      display: inline-block;
      a{
        color: #757575;
        display: block;
        transition: 500ms;
        &:hover{
          color: $blue;
        }
      }
    }
  }
}