.hero-block
  img(src="images/logo.png", alt="Cogitandus logo").img-fluid
  .social-icons
    ul.social-profile
      li.facebook
        a(href='https://www.facebook.com/cogitandus', title='Facebook', target='_blank')
          i.fab.fa-facebook-f
      li.instagram
        a(href='https://www.instagram.com/cogitandus', title='Instagram', target='_blank')
          i.fab.fa-instagram        
      li.email
        a(href='mailto:info@cogitandus.com', title='Email', target='_blank')
          i.far.fa-envelope        
  h1.site-title Cogitandus
  p.site-description How to Continually Improve Organisations based on Operational Learning
  form.form-inline.my-2.my-lg-0
    input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
    button.btn.btn-outline-dark.my-2.my-sm-0(type='submit') Search