-var locale =  $localeName;
.hero-block
  a(href = "/" + locale + "/")
    img(src="../images/logo.png", alt="Cogitandus logo").img-fluid
  .social-icons
    ul.social-profile
      li.facebook
        a(href='https://www.facebook.com/cogitandus', title='Facebook', target='_blank')
          i.fab.fa-facebook-f
      li.instagram
        a(href='https://www.instagram.com/cogitandus', title='Instagram', target='_blank')
          i.fab.fa-instagram        
      li.email
        a(href='mailto:info@cogitandus.com', title='Email', target='_blank')
          i.far.fa-envelope        
  p.site-description #{$i18n.hero.description}