nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a(href="#").navbar-brand
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbar.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href="#")
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href="#") Training
      li.nav-item
        a.nav-link(href="#") Coaching
      li.nav-item
        a.nav-link(href="#") Assessments
      li.nav-item
        a.nav-link(href="#") Management Systems
      li.nav-item
        a.nav-link(href="#") Improvement Projects
      li.nav-item
        a.nav-link(href="#") Incident Analysis
      li.nav-item
        a.nav-link(href="#") Contact us
