html  
  head
    title Language - Cogitandus
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    link(rel="stylesheet", href="../css/style.css")
  body
  .container
    h1 Choose your language.
    a(href= "/nl") 
      img(src="images/nl.png").lang-icon 
      |  Nederlands
    a(href= "/en") 
      img(src="images/en.png").lang-icon 
      |  English
    a(href= "/fr") 
      img(src="images/france.png").lang-icon 
      |  Fran&#231;ais