.entry-content
  #attachment_289.wp-caption.alignnone(style='max-width: 5010px')
    img.size-full.wp-image-289(src='http://www.cogitandus.com/wp-content/uploads/2017/11/1-Photo-by-Pablo-Heimplatz-on-Unsplash-1.jpg', alt='', width='5000', height='3333', srcset='http://www.cogitandus.com/wp-content/uploads/2017/11/1-Photo-by-Pablo-Heimplatz-on-Unsplash-1.jpg 5000w, http://www.cogitandus.com/wp-content/uploads/2017/11/1-Photo-by-Pablo-Heimplatz-on-Unsplash-1-500x333.jpg 500w', sizes='(max-width: 5000px) 100vw, 5000px')
    p.wp-caption-text Photo by Pablo Heimplatz on Unsplash
  h3
    em Human Performance
  p
    | For many years we have tried to make workers “care more” and “pay more attention” to what they are doing so they won’t make mistakes. It seems that we have run that course about as far as it will go. Simply asking workers to be more careful does not equate to “more careful” workers…
  p
    | We live in a world where error “is” and people are failable. The way management responds to these failures matters…
  p
    | In this training your (line) management learns how humans perform and how the organisational system influences the individual behavior of your employees.
  p
    | They will learn to look at error and failure from the perspective that the people in your organisation are the solution to the problem, rather than the problem to solve. This will help them to build organizational systems (working environment, processes, procedures, …) that are far more error tolerant. Not the occurrence of mistakes, but the limitation of the consequences is what matters.
  p
    | This 1-day training can also be offered as a 2-day workshop in which topics on Human Performance will be combined with learning about how to put in place continual Improvement that really works by making use of 
    a(href='http://www.cogitandus.com/coaching/')
      u Learning Teams
    | . Or let us know if you prefer to start with a 2-hour presentation to get inducted into the principles of Human Performance.
