extends includes/layout.pug
include partials/mixin-page.pug
prepend head
  - var title = "Coaching"
block content
  +page("Coaching","images/coaching.jpg","5 hands doing a fistbump","Photo by rawpixel.com on Unsplash")
    h2
      em Continual Improvement via Learning Teams
    p
      em
        | Does every job or task in your organization runs exactly as planned?  Did you ever try to learn from the incident that never happened? If the answer to these questions is ‘no’, then a Learning Team is what you are looking for to make real change happen!
    p
      | In a Learning Team our role is to coach and engage an ad-hoc group of 5-7 workers, brought together to answer one question: “something (un)successful has just happened – what should our organisation learn from this?”.
    p
      | No worries, it won’t be an investigation as we are not interested in “who” did what or in “why” the event happened. We fully concentrate on “how” the event transpired. Willing to fully understand the workers’ context and finding out how normal work happens, will result in identifying ways to improve the work processes.
    p
      | If you see workers as solutions rather than problems, and by focusing on helping workers overcome problems and be successful, you build trust. The end result is a strong communication channel within the organization and the ability to come up with innovative ideas to solve problems. In other circumstances, they would never have come up with such solutions that can be carried out as much as possible by the team.
    br
    hr