extends includes/layout.pug
include partials/mixin-page.pug
prepend head
  - var title = "Improvement Projects"
block content
  +page("Improvement Projects","images/improvement-projects.jpg","The inside of a tube","Photo by Dan Schiumarini on Unsplash")
    h2
      em Projects related to Improving Safety & Quality
    p
      em
        | A lot of systems, processes or procedures solely describe how work is planned. They assume that all risks are permanent. Nothing could be further from the truth… That is why quality defects continue to exist and accidents to happen.
    p
      em
        | Asking employees to be more careful not to make mistakes does not lead to better quality. Just like asking employees to pay more attention will not avoid having an accident.
    p
      | Focusing solely on your employees to achieve better quality or less incidents won’t work. Focusing solely on your system won’t work either. What matters is the interaction between your system and your employees. Every procedure is incomplete and your workers complete the system. Employees balance constantly between working efficiently and bringing their task to a good end.
    p
      | We observe work in action, how work is done in reality. We go in learning mode by asking the right questions to the right audience. This enables us to detect potential system failures.
    p
      | By understanding the context of the workers who are directly involved in the quality or safety issue, we come to simple improvements that are mainly in their sphere of control. That’s how we can successfully improve the output and resilience of your system.
    br
    hr