extends layout.pug
  block hero
    #hero
      p This is the hero block
  block content
    h1 Cogitandus
    p How to Continually Improve Organisations based on Operational Learning
    include partials/home-cards.pug