extends includes/layout.pug
prepend head
  - var title = $i18n.nav.home
append hero
  img(src="../images/hero.jpeg", alt="People standing in the shade").img-fluid
block content
  .quote
    blockquote.blockquote.text-center
      p.mb-0
        | #{$i18n.pages.home.content.quote}
      footer.blockquote-footer
        | Niccolò Machiavelli 
        cite 1469-1527
  include partials/home-cards.pug